{% extends "layout.html"%}
{% block title %}
Cats and Dogs Classifier
{% endblock %}

{% block content %}

<div class="r2">
  <h2>Do you want to find<br>out whether it is<br> a dog or a cat?</h2>
  <p>Just drop your image below!</p>
</div>

<div class="file">

    <header class="text-center">
        
      
    </header>
    
        
          
          <div class="col-lg-4">
      
            <!-- Upload image input-->
           
            <form action="{{ url_for('predict_image_file') }}" enctype="multipart/form-data" method="POST">
              <div class="input-group mb-3 px-2 py-2 rounded bg-white shadow-sm w-80">
                <div class="input-group-append">
                  <label class="btn btn-light btn-sm m-0 rounded px-2" for="upload">
                    <small class="text-uppercase font-weight-bold text-muted">Choose file</small> 
                  
                  </label>
                </div>
                <input class="b1" type="submit" value="Submit"/>
              </div>
                <input class="form-control form-control-sm border-0" id="upload" name="file" type="file">
              
              </div>
            
            </div>
          

            </form>
      
      
      
          
          
      
          
          </div>
        </div>

      
 
</div>


  <div class="i"></div>
  <div class="i2"></div>
  <div class="acc">Our accuracy is 97,5%</div>
{% endblock %}